.Main
  .Group
    %ul
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ
      %li
        %span
          コンテンツ