.Main
  .Group
    %ul
      %li
        %span
          -# 未定コンテンツ
      %li
        %span
          -# 未定コンテンツ
      %li
        %span
          -# 未定コンテンツ
      %li
        %span
          -# 未定コンテンツ
      %li
        %span
          =link_to comments_movies_path do
            映画
      %li
        %span
          =link_to comments_doramas_path do
            ドラマ
      %li
        %span
          =link_to comments_musics_path do
            音楽
      %li
        %span
          =link_to comments_games_path do
            ゲーム
      %li
        %span
          =link_to comments_products_path do
            便利商品
      %li
        %span
          =link_to comments_tools_path do
            便利ツール
      %li
        %span
          =link_to comments_foods_path do
            食品
      %li
        %span
          =link_to comments_drinks_path do
            飲料
      %li
        %span
          =link_to comments_refreshs_path do
            気分転換
      %li
        %span
          =link_to comments_lifes_path do
            ライフスタイル
      %li
        %span
          =link_to comments_studys_path do
            勉強
      %li
        %span
          =link_to comments_sports_path do
            運動
      %li
        %span
          =link_to comments_freedays_path do
            休日
      %li
        %span
          =link_to comments_deliverys_path do
            デリバリー
      %li
        %span
          -# 未定コンテンツ
      %li
        %span
          -# 未定コンテンツ