.Main
  .Group
    %ul
      %li
        %span
          映画
      %li
        %span
          ドラマ
      %li
        %span
          音楽
      %li
        %span
          ゲーム
      %li
        %span
          便利商品
      %li
        %span
          便利ツール
      %li
        %span
          食品
      %li
        %span
          飲料
      %li
        %span
          気分転換
      %li
        %span
          ライフスタイル
      %li
        %span
          勉強
      %li
        %span
          運動
      %li
        %span
          休日
      %li
        %span
          デリバリー
      %li
        %span
          未定コンテンツ
      %li
        %span
          未定コンテンツ
      %li
        %span
          未定コンテンツ
      %li
        %span
          未定コンテンツ
      %li
        %span
          未定コンテンツ
      %li
        %span
          未定コンテンツ
      %li
        %span
          未定コンテンツ
      %li
        %span
          未定コンテンツ