.Main
  .Group
    %ul.Group_ul
      %li.Group_li
        %span.Group_span
          -# 未定コンテンツ
      %li.Group_li
        %span.Group_span
          -# 未定コンテンツ
      %li.Group_li
        %span.Group_span
          -# 未定コンテンツ
      %li.Group_li
        %span.Group_span
          -# 未定コンテンツ
      %li.Group_li
        %span.Group_span
          =link_to comments_movies_path do
            映画
      %li.Group_li
        %span.Group_span
          =link_to comments_musics_path do
            音楽
      %li.Group_li
        %span.Group_span
          =link_to comments_games_path do
            ゲーム
      %li.Group_li
        %span.Group_span
          =link_to comments_radios_path do
            ラジオ
      %li.Group_li
        %span.Group_span
          =link_to comments_sns_path do
            SNS
      %li.Group_li
        %span.Group_span
          =link_to comments_products_path do
            便利商品
      %li.Group_li
        %span.Group_span
          =link_to comments_tools_path do
            便利ツール
      %li.Group_li
        %span.Group_span
          =link_to comments_foods_path do
            食品
      %li.Group_li
        %span.Group_span
          =link_to comments_drinks_path do
            飲料
      %li.Group_li
        %span.Group_span
          =link_to comments_refreshs_path do
            気分転換
      %li.Group_li
        %span.Group_span
          =link_to comments_studys_path do
            勉強
      %li.Group_li
        %span.Group_span
          =link_to comments_sports_path do
            運動
      %li.Group_li
        %span.Group_span
          =link_to comments_freedays_path do
            仕事
      %li.Group_li
        %span.Group_span
          =link_to comments_deliverys_path do
            デリバリー
      