.Header
  .Header_imageM
    .Header_image_box
      %h2.Header_image_box_title
        movies
      .Header_image_box_light
        .Header_image_box_light_login
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
        %h5.Header_image_box_light_userName
          = current_user.name
.Main_m
  .Main_m_movies
    %ul.Main_m_movies_each
      %li.Main_m_movies_eachLeft
        =link_to  image_tag("amazon-prime-video-logo.png",alt:"",class:"logo_left"),"https://www.amazon.co.jp/Prime-Video/b?ie=UTF8&node=3535604051"
      %li.Main_m_movies_eachLeft
        =link_to image_tag("https://japan.cnet.com/storage/2018/12/05/d451b52e9e58896d6d32b446ae89a86d/t/640/480/d/181205_hulu_640.jpg",alt:"",class:"logo_left"),"https://www.hulu.jp/"
      %li.Main_m_movies_eachLeft
        =link_to image_tag("https://www.apple.com/v/apple-tv-plus/e/images/meta/og__bzi4j9f2gk5e.png",alt:"",class:"logo_left"),"https://tv.apple.com/?itscg=10000&itsct=atv-0-tv_fp-hro_wch-apl-200306"
      %li.Main_m_movies_eachLeft
        =link_to image_tag("https://www.gyao.co.jp/jp/img/sp/common/ogp.png",alt:"",class:"logo_left"),"https://gyao.yahoo.co.jp/"
    %ul.Main_m_movies_each
      %li.Main_m_movies_eachRight
        =link_to image_tag("https://nos.nl/data/image/2018/02/22/454141/2048x1152.jpg",alt:"",class:"logo_right"),"https://www.netflix.com/jp/"
      %li.Main_m_movies_eachRight
        =link_to image_tag("https://3fl.jp/portfolio/unext/_src/img01.svg",alt:"",class:"logo_right"),"https://video.unext.jp/"
      %li.Main_m_movies_eachRight
        =link_to image_tag("https://disneyplus.disney.co.jp/etc/designs/disney/clientlibs/component/image/disneyplus/logo_disneyplus.svg",alt:"",class:"logo_right"),"https://disneyplus.disney.co.jp/"
      %li.Main_m_movies_eachRight
        =link_to image_tag("https://image.video.dmkt-sp.jp/pc/img/dvideo2/setting/photo_device2.jpg",alt:"",class:"logo_right"),"https://pc.video.dmkt-sp.jp/index?cnt=hn000065"